/* Coolors Exported Palette - https://coolors.co/f2efea-89043d-053c5e-f18f01-3e92cc */

/* CSS HEX */
--isabelline: #f2efeaff;
--claret: #89043dff;
--indigo-dye: #053c5eff;
--carrot-orange: #f18f01ff;
--celestial-blue: #3e92ccff;

/* CSS HSL */
--isabelline: hsla(38, 24%, 93%, 1);
--claret: hsla(334, 94%, 28%, 1);
--indigo-dye: hsla(203, 90%, 19%, 1);
--carrot-orange: hsla(36, 99%, 47%, 1);
--celestial-blue: hsla(205, 58%, 52%, 1);

/* SCSS HEX */
$isabelline: #f2efeaff;
$claret: #89043dff;
$indigo-dye: #053c5eff;
$carrot-orange: #f18f01ff;
$celestial-blue: #3e92ccff;

/* SCSS HSL */
$isabelline: hsla(38, 24%, 93%, 1);
$claret: hsla(334, 94%, 28%, 1);
$indigo-dye: hsla(203, 90%, 19%, 1);
$carrot-orange: hsla(36, 99%, 47%, 1);
$celestial-blue: hsla(205, 58%, 52%, 1);

/* SCSS RGB */
$isabelline: rgba(242, 239, 234, 1);
$claret: rgba(137, 4, 61, 1);
$indigo-dye: rgba(5, 60, 94, 1);
$carrot-orange: rgba(241, 143, 1, 1);
$celestial-blue: rgba(62, 146, 204, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f2efeaff, #89043dff, #053c5eff, #f18f01ff, #3e92ccff);
$gradient-right: linear-gradient(90deg, #f2efeaff, #89043dff, #053c5eff, #f18f01ff, #3e92ccff);
$gradient-bottom: linear-gradient(180deg, #f2efeaff, #89043dff, #053c5eff, #f18f01ff, #3e92ccff);
$gradient-left: linear-gradient(270deg, #f2efeaff, #89043dff, #053c5eff, #f18f01ff, #3e92ccff);
$gradient-top-right: linear-gradient(45deg, #f2efeaff, #89043dff, #053c5eff, #f18f01ff, #3e92ccff);
$gradient-bottom-right: linear-gradient(135deg, #f2efeaff, #89043dff, #053c5eff, #f18f01ff, #3e92ccff);
$gradient-top-left: linear-gradient(225deg, #f2efeaff, #89043dff, #053c5eff, #f18f01ff, #3e92ccff);
$gradient-bottom-left: linear-gradient(315deg, #f2efeaff, #89043dff, #053c5eff, #f18f01ff, #3e92ccff);
$gradient-radial: radial-gradient(#f2efeaff, #89043dff, #053c5eff, #f18f01ff, #3e92ccff);