:root {
    --bg-color: rgb(248, 248, 248);
    --primary-color: rgba(5, 60, 94, 1);
    --secondary-color: rgba(62, 146, 204, 1);
    --tertiary-color: rgba(241, 143, 1, 1);
    --important-color: rgba(137, 4, 61, 1);
}

body {
    background-color: var(--bg-color);
    font-family: 'Montserrat', sans-serif;

}

header {
    background-color: var(--primary-color);
    font-size: large;
    color: white;
    height: 60px;
    line-height: 60px;
    padding-left: 35px;
}

img,
.logo {
    height: 35px;
    width: 35px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    margin-right: 0.5rem;
}

nav {
    line-height: 3rem;
    padding: 0 50px;
    text-decoration: none;
    font-size: 1rem;
    text-align: right;
    font-weight: 500;

}

.nav-style {
    margin-left: 3rem;
}


a {
    color: var(--primary-color);
    text-decoration: none;

}

a:hover {
    color: var(--tertiary-color);
}


html {
    height: 100%;

}

h1,
.titulo_entrada {
    font-size: 40px;
    text-align: center;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;

}


main {
    max-width: 90vw;
    margin: auto;
    padding: 20px;
}

/******** estilos de la tabla de la pagina de index ***********/
table {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 40px;
    border-collapse: collapse;
    font-size: 1.2rem;

}

.titulo-tabla {
    border-bottom: solid thin var(--primary-color);
    text-align: left;
}

.titulo-tabla-acciones {
    border-bottom: solid thin var(--primary-color);
    text-align: right;
}

th {
    padding: 10px;
    text-align: left;
    border-bottom: solid thin var(--primary-color);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;

}

tr:last-child td {
    border-bottom: 1px solid var(--primary-color);
    /* Agrega un borde inferior de 1 píxel a la última fila de celdas */
}

tr:hover {
    background-color: #ddd;
}

tr.cabeceras:hover {
    background-color: transparent;
}

td {
    border-top: 1px solid var(--primary-color);
    /* Agrega un borde superior de 1 píxel a cada celda */
}

.tabla-con-sombra {
    border-collapse: collapse;
    width: 70%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.tabla-con-sombra th,
.tabla-con-sombra td {
    text-align: left;
    padding: 8px;
}

.tabla-con-sombra,
txt {
    text-align: center;

}

/* fin de estilos de la tabla de la pagina de index */



/************ estilos de paginación *************/

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-link {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.pagination-link.current {
    font-weight: bold;
    border-color: var(--tertiary-color);
    color: var(--tertiary-color);
}

.pagination-link.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.pagination-link:hover:not(.current) {
    background-color: #eee;
}

/* fin estilos de paginación */



/****** footer ******/

footer,
.pie_pagina {
    background-color: var(--tertiary-color);
    font-size: 1rem;
    color: white;
    height: 50px;
    line-height: 50px;
    padding-left: 25px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;

}

/* fin de footer */

/* estilos para el formulario de compra */

.container-global {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 20px;
}

.formulario-container {
    flex: 1 1 auto;
    max-width: 600px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 5px;
}

form select,
form input {
    font-size: 16px;
    padding: 5px;
    width: 100%;
    max-width: 500px;
    border: 1px solid #ccc;
}

form .campo-formulario {
    margin-bottom: 20px;
}

form .acciones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

form .acciones input[type="submit"] {
    font-size: 16px;
    padding: 8px 16px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}

form .acciones input[type="submit"]:hover {
    background-color: var(--tertiary-color);
}

form .precioBase input[type="text"] {
    display: none;
    pointer-events: none;



}

/* fin de estilos para el formulario de compra */

/* estilos para el wallet */

.wallet {
    display: absolute;
    width: 250px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.seccion-wallet {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.cartera-txt {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 800;
    text-overflow: var(--important-color);
}

/* fin estilos para el wallet */

/* estilos para 404 */

svg,
.img404 {
    display: flex;
    margin: auto;
    width: 42%;
    height: 42%;
    padding: 0;
}

.seccion404 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.texto_entrada {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.contenedor-botones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    margin-top: 20px;
    margin: 20px;
    background: var(--bg-color);
    color: #000000;
    border: 2px solid var(--important-color);
    padding: 10px 18px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.boton:hover {
    color: #fff;
}

.boton::after {
    content: "";
    background: var(--important-color);
    position: absolute;
    z-index: -1;
    padding: 10px 18px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.boton:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

/* fin estilos para 404 */

.botones-status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
}

.seccion-status {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

status-th {
    padding: 10px;
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}

.tabla-status {
    width: 63%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 1.2rem;
    text-align: center;

}

