{% extends "base.html" %}

{% block scripts%}

<style>
        #overlay {
            display: none;
            }

        #sk-cube-grid {
            display: none;
        }
</style>

{% endblock scripts%}

{% block contenido%}
<h1 class="titulo_entrada">Página no encontrada (Error 404)</h1>
<section class="seccion404">

        <p class="texto_entrada">Lo sentimos, pero la página que buscas no existe.</p>

        <p class="texto_entrada">Puedes volver a la página de inicio o contactar con el administrador.</p>
        
        <div class="contenedor-botones">

                <a href="/" class="boton">¿Quieres volver a inicio?</a>

        </div>

        <img src="/static/img/404.svg" class="img404" alt="404 página no encontrada" />



</section>


{% endblock contenido %}