{% extends "base.html" %}

{% block scripts%}

<script src="/static/js/cryptoSimulator.js"></script>

{% endblock scripts%}

{% block contenido%}
<h1 class="titulo_entrada">Historial de transacciones</h1>

<section class="seccion-movimientos">

<table class="tabla-con-sombra">
    <thead>
        <tr class="cabeceras">
            <th class="titulo-tabla">Fecha</th>
            <th class="titulo-tabla">Hora</th>
            <th class="titulo-tabla">Origen</th>
            <th class="titulo-tabla">Cantidad Inv.</th>
            <th class="titulo-tabla">Destino</th>
            <th class="titulo-tabla">Criptoactivo Quantity</th>
            <th class="titulo-tabla">Criptoactivo P.U.</th>

        </tr>
    </thead>
    <tbody id="tabla-transacciones">
        <!-- aqui tenemos que cargar los movimiento que leamos de la API -->

    </tbody>

</table>


</section>

{% endblock contenido %}