{% extends "base.html" %}

{% block scripts%}

<script src="/static/js/cryptoSimulator.js"></script>

{% endblock scripts%}

{% block contenido%}
<h1 class="titulo_entrada">Historial de transacciones</h1>

<section class="seccion-movimientos">

<table class="tabla-con-sombra">
    <thead>
        <tr class="cabeceras">
            <th class="titulo-tabla">Fecha</th>
            <th class="titulo-tabla">Hora</th>
            <th class="titulo-tabla">Origen</th>
            <th class="titulo-tabla">Cantidad Inv.</th>
            <th class="titulo-tabla">Destino</th>
            <th class="titulo-tabla">Criptoactivo Quantity</th>
            <th class="titulo-tabla">Criptoactivo P.U.</th>

        </tr>
    </thead>
    <tbody id="cuerpo-tabla">
        <!-- aqui tenemos que cargar los movimiento que leamos de la API -->
<tr>
    <td>19/03/2023</td>
    <td>14:30</td>
    <td>EUR</td>
    <td>1500</td>
    <td>BTC</td>
    <td>0,04752</td>
    <td>50.000</td>
</tr>
<tr>
    <td>18/03/2023</td>
    <td>10:45</td>
    <td>BTL</td>
    <td>575</td>
    <td>EUR</td>
    <td>200</td>
    <td>875</td>
</tr>
    </tbody>

</table>

</section>

{% endblock contenido %}