{% extends "base.html" %}

{% block scripts%}

<script defer src="/static/js/status.js"></script>
<script defer src="/static/js/cartera.js"></script>

{% endblock scripts%}

{% block contenido%}
<h1 class="titulo_entrada">Estado de la inversión</h1>
<div class="container-status"></div>

<section class="seccion-status">

    <div class="wallet">
        <h2 class="cartera-txt">Stock Cryptos</h2>
        <ul id="listado-cartera"></ul>
    </div>

    <table class="tabla-status">
        <thead>
            <tr>
                <th>Saldo de euros invertidos</th>
                <th>Total invertido en EUR</th>
                
                <th>Valor actual de Cryptos en EUR</th>

            </tr>
        </thead>
        
            <tr>
                <td id="saldo_euros_invertidos"></td>
                <td id="total_euros_invertidos"></td>
                
                <td id="valor_actual_cartera_euros"></td>
            </tr>
        
    </table>

</section>


{% endblock contenido %}