{% extends "base.html" %}

{% block scripts%}

<script defer src="/static/js/status.js"></script>
<script defer src="/static/js/cartera.js"></script>

{% endblock scripts%}

{% block contenido%}
<h1 class="titulo_entrada">Estado de la inversión</h1>
<div class="container-status"></div>

<section class="seccion-wallet">

    <div class="wallet">
        <h2 class="cartera-txt">Stock Cryptos</h2>
        <ul id="listado-cartera"></ul>
    </div>

</section>

<section class="seccion-status">

    <table class="tabla-status">
        <thead>
            <tr>
                <th class="">Saldo de euros invertidos</th>
                <th class="">Total invertido en EUR</th>
                <th class="status-th">Valor actual de Cryptos en EUR</th>



            </tr>
        </thead>

        <tr>
            <td id="saldo_euros_invertidos"></td>
            <td id="total_euros_invertidos"></td>
            <td id="valor_actual_cartera_euros"></td>
        </tr>

    </table>
    </section>

    <section class="seccion-compra"></section>

    <div class="botones-status">

        <a href="/purchase" class="boton" >¿Deseas hacer alguna otra operación?</a>
        
    </div>


</section>

{% endblock contenido %}